@model QuanLyPhongTro.Models.ViewModels.InputModel.RegisterInput;
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<title>Đăng ký</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/css/login.css">
	<link rel="stylesheet" href="~/css/base.css">

</head>
<body>
	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex flex-column align-items-center justify-content-center order-md-last">
							<div class="img-logo--wrap">
								<img src="~/img/logo (1).png" alt="" class="img-logo">
							</div>
							<div class="text w-100 ">
								<h2>Welcome to sign up</h2>
								<p>Do you have an account?</p>
								<a href="/Authencation/Login" class="btn btn-white btn-outline-white">Sign In</a>
							</div>
						</div>
						<div class="login-wrap p-4 p-lg-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Sign Up</h3>
								</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
							</div>
							<form asp-action="Register" asp-controller="Authencation" method="post" class="signin-form">
								<div class="form-group mb-3">
									<label class="label" for="fullname">FullName</label>
									<input type="text" class="form-control" placeholder="Fullname" autocomplete="HoTen" required asp-for="HoTen">
									<span asp-validation-for="HoTen" class="text-danger"></span>
								</div>
								<div class="form-group mb-3">
									<label class="label" for="email">Email</label>
									<input type="email" class="form-control" placeholder="Example: a@gmail.com" required asp-for="Email">
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>
								<div class="form-group mb-3">
									<label class="label" for="number">Number</label>
									<input type="text" class="form-control" placeholder="phonenumber" required asp-for="PhoneNumber">
									<span asp-validation-for="PhoneNumber" class="text-danger"></span>
								</div>

								<div class="form-group mb-3">
									<label class="label" for="password">Password</label>
									<input type="password" class="form-control" placeholder="Password" required asp-for="Password">
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
								<div class="form-group mb-3">
									<label class="label" for="repassword">RePassword</label>
									<input type="password" class="form-control" placeholder="RePassword" required asp-for="ConfirmPassword">
									<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
								</div>
								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
								</div>
								@if (ViewData["ValidateMessage"] != null)
							{
								<div class="alert alert-danger" role="alert">
									@ViewData["ValidateMessage"]
								</div>
							}
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>


