@section StyleCss {
    
}

<div class="col-lg-3 col-md-12">
    <nav class="nav-box--title">
        <ul class="nav-list">
            <li class="nav-item action d-flex flex-row">
                <i class="fa-regular fa-user"></i>
                <p><a asp-action="Index" asp-controller="Profile">Thông tin cá nhân</a></p>
            </li>
            <li class="nav-item d-flex flex-row">
                <i class="fa-solid fa-list"></i>
                <p><a href="">Quản lý phòng</a></p>
            </li>
            <li class="nav-item d-flex flex-row">
                <i class="fa-solid fa-lock"></i>
                <p><a href="">Quản lý bài đăng</a></p>
            </li>
            <li class="nav-item d-flex flex-row">
                <i class="fa-solid fa-bars-progress"></i>
                <p><a href="">Quản lý phòng trọ</a></p>
            </li>
        </ul>
    </nav>
</div>