
@{
    Layout = "_LayoutAdmin";

    string accountUser = ViewBag.CookieValue;
    ViewData["AccountUser"] = accountUser;
    ViewData["Tittle"] = "Dash Board";
}
<div style="width:100%; height:90vh;" class="d-flex flex-column justify-content-center align-items-center">
    <h1>DASHBOARD</h1>
    <br />
    <h2>CHÚC BẠN CÓ MỘT NGÀY NHIỀU NĂNG LƯỢNG TÍCH CỰC !!</h2>
</div>
